<html>
        <head>
        <meta http-equiv='refresh' content='5'>
        <title>Service not yet ready or unavailable</title></head>
<body>
<p>
If you are seeing this page, the service is not yet ready or currently unavailable. This page will automatically refresh every 5 seconds until the service is available.
</p>

{% if NGINX_APP_LOG_FILES|length > 0 %}
<p>
To see the exposed logs for this service, follow this link <a href="/logs/">logs</a>.
</p>
{% endif %}
</body>
</html>